/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --primary-color-1: #f4913f;
  --accent-color-1: #6eafab;
  --secondary-color-1: #858792;
  --secondary-color-2: #3b3b41;
  --neutral-color-1: #bdbdbc;
  --neutral-color-2: #d8d8d8;
  --white: #fff;
  --font-1: 'Ubuntu', sans-serif;
  --shadow-1: rgba(0, 0, 0, 0.25) 0 25px 50px -12px;
}

/* Global styles */
html {
  overflow-x: hidden;
  height: 100%;
}

body {
  font-size: 16px;
  font-family: var(--font-1);
  background: var(--neutral-color-1);
  position: relative;
  height: 100%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 200px;
  background: var(--secondary-color-1);
}

header > div {
  display: flex;
}

header > nav .link {
  margin: 10px;
}

header h3 {
  color: var(--secondary-color-2);
}

.home {
  padding: 20px 200px;
  margin: 5% auto;
  color: var(--secondary-color-2);
}

.home > div {
  display: flex;
  justify-content: center;
}

.home > p {
  text-align: center;
  margin-top: 50px;
  line-height: 1.5;
  background: var(--neutral-color-2);
  border-radius: 2px;
  padding: 20px 10px 40px;
}

.calculator {
  display: flex;
  flex-direction: column;
  margin: 3% auto;
  width: 48%;
}

.calculator-btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
}

.digits {
  padding: 20px;
  background: var(--neutral-color-2);
  border: solid 1px lightgray;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 550;
  font-family: var(--font-1);
}

.span-2 {
  grid-column: 1 / span 2;
  background: var(--neutral-color-2);
}

.orange {
  background: var(--primary-color-1);
}

.output {
  background: var(--secondary-color-1);
  color: var(--white);
  padding: 20px 10px;
  text-align: right;
  font-size: 1.4rem;
  font-family: var(--font-1);
}

@media (max-width: 768px) {
  .calculator {
    margin: 10% auto;
    width: 50%;
  }

  header,
  .home {
    padding: 20px 50px;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .calculator {
    width: 80%;
  }

  header,
  .home {
    padding: 20px 10px;
    width: 100%;
  }

  header h3 {
    font-size: 14px;
  }

  header > nav .link {
    margin: 5px;
    font-size: 14px;
  }

  .home h1,
  .home h2 {
    font-size: 20px;
  }
}
